
body {
  color: white;
  background-color: #1B1C21;
  height:1200px;
  overflow-x:hidden;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  height:100%;
  padding:0;
}



.container:before {
  content: "";
  position: absolute;
  left: -150%;
  top: 0;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  z-index: -1;
  margin:0;
  padding:0;

}

.header {
  display: flex;
  align-items: center;
  padding: 30px;
}

.header__logo {
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: -1px;
}
.header__logo span {
  display: inline-block;
  transform: translateY(4px) rotate(180deg);
  pointer-events: none;
}

.header__menu {
  margin-left: auto;
}

.header__menu__list, .footer__menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu__link {
  margin-left: 50px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  height:100px;
}

.footer__menu__link {
  margin-left: 50px;
  color: rgba(255, 255, 255, 0.5);
}

.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media screen and (max-width: 860px) {
  .header__menu, .footer {
    display: none;
  }
}


/* 여기까지 풋터, 네비바  */
.titleCon{
  font-size:20px;
}



/* 작성폼 css */
.form{
  width:70%;
}
.form-control{
  width:90%;
  margin-left:90px;
}
.form-control-1 {
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
.mb-3{
  margin-top:30px;
  position:relative;
}
.form-label {
  position:absolute;
}
.form-label p {
   color:black;
}
textarea{
  height:400px;
  -webkit-line-clamp: 12;
  overflow-x: hidden;
  overflow-y: scroll;
}
.btn-primary{
   font-size:20px;
   width:10%;
   height:50px;
   margin-top:20px;
   margin-bottom:20px;
   background: black;
   color:white;
   border-radius:10px;
   border:none;
   position:absolute;
   left: 1320px;
}
.btn-primary:hover{
  background: #ff6c00;
  color: #fff;
  border:1px solid #a5a773;
  cursor:pointer;
}
#form2{
  width:50%;
}
.photo{
  border:1px solid black;
  display:inline-block;
  height:80px;
  width:80px;
  text-align:center;
  margin-top:30px;
}
#rating>label{
  margin-left:10px;
  margin-right:50px;
}
#rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  color: black;
  float: right;
}

.product-img-box {
    display: flex;
    margin-top: 30px;
}
.picture {
   font-weight: normal;
   margin-right: 20px;
}

.button {
    width: 90%;
    height: 50px;
    position: relative;
}
.btn-primary{
   font-size: 20px;
   width: 100px;
   height:50px;
   background: black;
   color:white;
   border-radius:10px;
   border:none;
   position:absolute;
   left: 100%;
}
.btn-primary:hover{
  background: red;
  color: #fff;
  cursor:pointer;
}

.box{
  position:relative;
}
.img_b{
  position:absolute;
  top:40%;
}



/* 디테일 아래부터 시작 */


.picZoomer{
	position: relative;
    /*margin-left: 40px;
    padding: 15px;*/
}
.picZoomer-pic-wp{
	position: relative;
	overflow: hidden;
    text-align: center;
}
.picZoomer-pic-wp:hover .picZoomer-cursor{
	display: block;
}
.picZoomer-zoom-pic{
	position: absolute;
	top: 0;
	left: 0;
}
.picZoomer-pic{
	/*width: 100%;
	height: 100%;*/
}
.picZoomer-zoom-wp{
	display: none;
	position: absolute;
	z-index: 999;
	overflow: hidden;
    border:1px solid #eee;
    height: 460px;
    margin-top: -19px;
}
.picZoomer-cursor{
	display: none;
	cursor: crosshair;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 1px solid #eee;
	background-color: rgba(0,0,0,.1);
}
.picZoomCursor-ico{
	width: 23px;
	height: 23px;
	position: absolute;
	top: 40px;
	left: 40px;
	background: url(images/zoom-ico.png) left top no-repeat;
}

.my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}
.piclist li{
    display: inline-block;
    width: 90px;
    height: 114px;
    border: 1px solid #eee;
}
.piclist li img{
    width: 97%;
    height: auto;
}

/* custom style */
.picZoomer-pic-wp,
.picZoomer-zoom-wp{
    border: 1px solid #eee;
}




.row-sm .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

/*===pic-Zoom===*/
._boxzoom .zoom-thumb {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
._boxzoom .zoom-thumb ul.piclist {
    padding-left: 0px;
    top: 0px;
}
._boxzoom ._product-images {
    width: 80%;
    display: inline-block;
}
._boxzoom ._product-images .picZoomer {
    width: 100%;
}
._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
    left: 0px;
}
._boxzoom ._product-images .picZoomer img.my_img {
    width: 100%;
}
.piclist li img {
    height:100px;
    object-fit:cover;
}



/*======products-details=====*/
._product-detail-content {
    background: #fff;
    padding: 15px;
    border: 1px solid lightgray;
}
._product-detail-content p._p-name {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}
.p-list span {
    margin-right: 15px;
}

._p-qty > span {
    color: black;
    margin-right: 15px;
    font-weight: 500;
}
._p-qty .value-button {
    display: inline-flex;
    border: 0px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #fd7f34;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

._p-qty .value-button {
    border: 0px solid #fe0000;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}
._p-qty input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #fe0000;
    border-bottom: 1px solid #fe0000;
    margin: 0px;
    width: 50px;
    height: 35px;
    font-size: 14px;
    box-sizing: border-box;
}
._p-add-cart {
    margin-left: 0px;
    margin-bottom: 15px;
}
.p-list {
    margin-bottom: 10px;
}
._p-features > span {
    display: white;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

._p-features{
  color:#C8D0E8;
}


/*=========Recent-post==========*/
.title_bx h3.title {
    font-size: 22px;
    text-transform: capitalize;
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.2em;
}
.title_bx h3.title:before {
    content: "";
    height: 2px;
    width: 20%;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 40px;
    background-color: #0D2569;
}
.title_bx h3.title:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #262E43;
}
.common_wd .owl-nav .owl-prev, .common_wd .owl-nav .owl-next {
    background-color: #fd7f34 !important;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0px !important;
}
.owl-nav .owl-next {
    right:-10px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    top:50%;
    position: absolute;
}
.common_wd .owl-nav .owl-prev i, .common_wd .owl-nav .owl-next i {
    color: #fff;
    font-size: 14px !important;
    position: relative;
    top: -1px;
}
.common_wd .owl-nav {
    position: absolute;
    top: -21%;
    right: 4px;
    width: 65px;
}
.owl-nav .owl-prev i, .owl-nav .owl-next i {
    left: 0px;
}
._p-qty .decrease_ {
    position: relative;
    right: -5px;
    top: 3px;
}

._p-qty .increase_ {
    position: relative;
    top: 3px;
    left: -5px;
}
/*========box========*/

.pdis_img>a>img{
width:220px;
height:220px;
}
.owl-item active{
margin:0;
}


.owl-stage-outer{
margin:0;
display:inline-block;
}
.sq_box {
    padding-bottom: 5px;
    border-bottom: solid 2px #242E43;
    background-color: #191A2B;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    display:inline-block;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box img {
    object-fit: cover;
    height: 150px !important;
    margin-top: 20px;
}


.btn{
  color:white;
}

.btn:hover{
  color:#505050;
}


._p-features>p{
  overflow-y: scroll;
  height: 500px;
}


.scrollCon::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
}


.item{
width:250px;
height:300px;
list-style:none;
border-radius:10px;
border:1px solid gray;
text-align:center;
padding:5px;
}

.item>h4{

overflow:hidden;
text-overflow: ellipsis;
}


 .ulList{
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 300px));
  gap: 10px; /* 간격 설정 */
}



/*paging*/
.content {
  /*review_content*/
  margin-bottom: 20px;
}
.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f1f1f1;
  text-decoration: none;
  color: #333;
  border-radius: 3px;
}
.pagination .active {
  color: #fff;
}
.pagination-1{
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.page-link.active {
  color: #fff;
}



.page-link1{
  background-color: #2a2a2a;
  color:#999;
  font-size:20px;
  padding-right:10px;
  padding-left:10px;
  margin-right:5px;
  margin:left:5px;
}

.page-link1:hover{
opacity: 1;
  -webkit-transition: all 0.2s ease;
background-color: white;
color:rgb(30, 30, 30);
}
.pagination1{
margin:0;}

.page-item{
 Display:inline-block;
}


tr:nth-child(even) {
  background-color: #5E626C;
}
tr:nth-child(even):hover>td>a>span{
    color: #61687D;
}


tr:nth-child(odd) {
  background-color: #3B3D43;
}
tr:nth-child(odd):hover>td>a>span{
    color: #192950;
}

th {
  background-color: #252629;
  color: white;
}
.noBorder {
    border:none !important;
}

thead{
border-top:1px solid white;
border-bottom:1px solid white;
}

.item2{
  position:absolute;
  right:10%;
  width:50%;
  list-style:none;
  height:70%;

}

#news_sub{
  font-weight:bold;
}

.mb-1{
white-space: nowrap;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-1:hover{
color:gray;
}

.CommentBtn{

  width:150px;
  background: #000;
}

.btn:hover{
  color:black;
}





/* 댓글*/

.question-create-box{
text-align:center;
border-bottom:2px solid white;
position:relative;
height:50px;
margin-top:50px;
}
.question-create-box > span{
font-family: NeoDunggeunmoPro-Regular;
text-shadow: 2px 2px 4px black;
}

.question-create-btn{
    color:white;
    border:none;
    background:none;
    position:absolute;
    right:0;
}
.question-create-btn:hover{
color: gray;
}

.question-list-section{
  width: 100%;
}

.question-list-content {
  flex-wrap: wrap;
  display: flex;
}

.question-container {
  width: 100%;
  margin: 10px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 10px;
  border-bottom:0.3px solid white;
}

.question-state,
.question-author,
.question-create-date {
  text-align: center;
  width: 15%;
}
.question-subject {
  width: 55%;
  cursor: pointer;
}

.question-subject:hover{
color:gray;
}

.question-content {
  display: none;
  margin: 0 auto;
}

.question-list-foot {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.question-list-foot ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.question-list-foot li {
  padding: 10px;
}

.question-list-foot a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.question-list-foot .active {
  font-weight: bold;
}

.question-modify, .question-delete{
  color:white;
      border:none;
      background:none;

  font-size: 20px;
}
.question-modify:hover{
color:gray;
}

.question-delete:hover{
color:gray;
}

.comment_sub{
position:absolute;
left:0;
}


.ro98{
margin-bottom:100px;
}