<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevNews-로그인</title>
    <link rel="stylesheet" href="/login.css"/>
</head>
<body>
<div class="container">
    <header th:replace="layout/navbar.html"></header>
    <!-- Container for all sliders, and pagination -->
    <main class="sliders-container">
        <form th:action="@{/user/login}" method="post" class="sign_In">
            <div class="grad1"></div>
            <div class="header1">
                <div><a class="header__logo" th:href="@{/}">Dev<span>r</span>News</a></div>
            </div>
            <br>
            <br>
            <div class="login">
                <input type="text" name="username" id="username" placeholder="username" ><br>
                <input type="password" name="password" id="password" placeholder="password" ><br>
                <input type="submit" value="Login">
            </div>

        </form>
    </main>
    <!--  영역  -->
    <footer class="footer">
        <nav class="footer__menu">
            <ul class="footer__menu__list">
                <li class="footer__menu__item"><a class="footer__menu__link" href="https://velog.io/@ohtj6644">velog</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link" href="https://github.com/ohtj6644">github</a></li>
                <li class="footer__menu__item"><a class="footer__menu__link">instagram</a></li>
            </ul>
        </nav>
    </footer>
</div>

</body>
</html>